<section class="section has-bg-light has-link-inherit">
  <div class="container grid">
    <div class="column is-one-third is-desktop-auto">

    </div>
    <div class="column is-one-third is-desktop-auto">

    </div>
    <div class="column is-one-third is-desktop-auto">

    </div>
    <div class="column is-half is-desktop-auto">
      <h5 class="has-no-margin">Follow us / Subscribe</h5>
      <ul class="has-no-list-style">
        <li>
          <ul class="is-inline-list">
            <li><i class="fab fa-facebook fa-2x"></i></li>
            <li><i class="fab fa-twitter fa-2x"></i></li>
            <li><i class="fab fa-pinterest fa-2x"></i></li>
            <li><i class="fab fa-instagram fa-2x"></i></li>
          </ul>
        <li>
        <li>
          <p>
            Join our newsletter to receive updates on product annoucements and sales.
          </p>
        <li>
      </ul>
    </div>
  </div>
</section>
