<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <div class="row">
                <div class="col-sm-12">
                  <img alt="gen-footer-logo" class="gen-footer-logo" src="assets/img/asset-0.png">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <ul class="social-link">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fab fa-skype"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Explore</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="menu-item"><a href="movies-pagination.html">Movies</a></li>
                  <li class="menu-item"><a href="tv-shows-pagination.html">Tv Shows</a></li>
                  <li class="menu-item"><a href="video-pagination.html">Videos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Company</h4>
              <div class="menu-about-container">
                <ul class="menu">
                  <li class="menu-item"><a href="contact-us.html">Company</a>
                  </li>
                  <li class="menu-item"><a href="contact-us.html">Privacy
                    Policy</a></li>
                  <li class="menu-item"><a href="contact-us.html">Terms Of
                    Use</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3  col-md-6">
            <div class="widget">
              <h4 class="footer-title">Downlaod App</h4>
              <div class="row">
                <div class="col-sm-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <a href="#">
                    <img alt="playstore" class="gen-playstore-logo" src="assets/img/asset-35.png">
                  </a>
                  <a href="#">
                    <img alt="appstore" class="gen-appstore-logo" src="assets/img/asset-36.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gen-copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-self-center">
                     <span class="gen-copyright"><a href="#" target="_blank"> Copyright 2021 -2022s  All Rights
                           Reserved.</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
