<nav class="top has-bg-dark has-text-white has-no-padding-top is-desktop-up">
  <div class="container">
    <div class="top__brand column is-desktop-shrink is-mobile-auto is-vertically-centered">
      <img src="assets/img/logo.png" class="img-hw20"/>
    </div>
    <div class="top__links">
<!--      <ul>-->
<!--        <li><a href="#">New Arrivals</a></li>-->
<!--        <li class="has-dropdown has-arrow is-hoverable">-->
<!--          <a href="#">Categories</a>-->
<!--          <ul class="dropdown">-->
<!--            <li class="dropdown__link"><a href="#">Item 1</a></li>-->
<!--            <li class="dropdown__link"><a href="#">Item 2</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
    <div class="top__links is-end">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signin">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
