<section class="section has-link-inherit">
  <div class="container grid is-flex-start">
    <div class="column is-two-thirds grid is-vertical">
      <div class="column has-no-padding-top">
        <div class="has-bg-light" style="height: 300px">
          <h5 class="tag is-dark">
            {{data.tvShow.status}}
          </h5>
          <div class="section has-text-center">
            <h5 class="has-text-light-grey">Article image</h5>
          </div>
        </div>
      </div>
      <div class="column">
        <h4><a href="#">5 Reasons You'll Love Our Company</a></h4>
        <p class="has-text-muted">
          September 29th 2019 | by <a href="#">Rhys Hall</a>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <div class="has-text-right">
          <small>
            <a class="has-text-muted" href="#">
              Read more &gt;
            </a>
          </small>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <h4>Recent Posts</h4>
      <a class="media" href="#">
        <div class="media__left">
          <div class="image is-tiny-square">
            <svg class="has-bg-info" height="100%" viewBox="0 0 100 100" width="100%"></svg>
          </div>
        </div>
        <div class="media__content">
          <h6 class="has-font-normal">5 Reasons You'll Love Our Company</h6>
          <small class="has-text-muted">September 29th 2019</small>
        </div>
      </a>
    </div>
  </div>
</section>
