<section class="section has-link-inherit">
  <div class="container grid is-flex-start">
    <div class="column is-3 grid is-vertical">
      <ng-image-slider [animationSpeed]="6"  [imageSize]="{width: '100%', height: 300}" [infinite]="true" [imagePopup]="true" [autoSlide]="true"  [images]="data.images" #nav></ng-image-slider>
    </div>
    <div class="column is-9 grid is-vertical">
      <h3 class="fw-bolder">{{data.name}}</h3>
      <p class="text-justify">{{data.description}}</p>
      <div class="timeline p-4 block mb-4">
        <div class="tl-item active" *ngFor="let episode of data.episodes">
          <div class="tl-dot"><a class="tl-author" href="#" data-abc="true"><span class="w-32 avatar circle gd-warning">G</span></a></div>
          <div class="tl-content">
            <div class="">{{episode.name}}</div>
            <div class="">{{episode.season}}</div>
            <div class="tl-date text-muted mt-1">{{episode.air_date}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
